.servicesPreview {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.services-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: center;
    overflow: auto;
}

/* On mouse-over, add a deeper shadow */
.services-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.services-container {
    padding: 2px 16px;
}

.services-card img {
    max-width: 300px;
    height: auto;
}

h2 {
    text-align: center;
}

.services-container h4{
    text-align: center;
}

.services-container ul {
    margin-bottom: 0px;
    list-style-type: none;
}
.center {
    text-align: center;
}

ul li {
    padding-left: 0em;
}