.hero {
	padding: 4em 0 1em 0;
	margin: 0 auto;
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url("/images/hero-image.jpg");
  /* Set a specific height */
  height: 70%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 300px;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: relative;
  color: white;
  margin-top: 40px;
}

.heroAction {
  background-color: rgba(71, 117, 166, 0.95);
}

.underline {
  text-decoration: underline;
}

.whitest-font {
  color: white ;
}

.button.icon::before{
  color: white;
}

.button.icon {
  background-color: rgba(84, 136, 190, 0.95);
}