.flexButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.labelWithError {
    margin-bottom: 15px;
}

.small-font {
    font-size: small;
    color: lightpink;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.centerMargins {
    display: flex;
    align-items: center;
    justify-content: center;
}