.blackBar {
    background-color: black;
    text-align: center;
    vertical-align: middle; 
    padding-top: 5px;
    padding-bottom: 5px;
}

.blackBarRow {
    display: flex;
    gap: 45px;
    flex-direction: row;
    justify-content: center;

    a {
        border-bottom: none;
    }
}

.facebookLogo {
    font-weight: 800;
    font-size: large;
    vertical-align: top;
}