.blackBar {
    background-color: black;
    text-align: center;
    vertical-align: middle; 
    padding-top: 5px;
    padding-bottom: 5px;
}

.blackBarRow {
    display: flex;
    gap: 45px;
    padding: 5px;
    flex-direction: row;
    justify-content: center;
}


@media (max-width: 800px){
    .blackBarRow {
        flex-direction: column;
        gap: 5px;
        padding: 0px;
    }
}