@media screen and (max-width: 736px) {

	#content {
		margin-left: 0em;
		margin-right: 0em;
	}

	#content p {
		font-size: 0.8em;
	}

}

#content {
	padding: 1.5em 0 1em 0;
	margin: 0 auto;
	max-width: 90%;
}
