#header {
	-moz-transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	background-color: rgba(71, 117, 166, 0.95);
	max-height: 3.5em;
	left: 0;
	line-height: 3.5em;
	padding: 0 1.25em;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 10000;
}

#header h1 {
	-moz-transition: opacity 0.2s ease-in-out, visibility 0.2s;
	-webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s;
	-ms-transition: opacity 0.2s ease-in-out, visibility 0.2s;
	transition: opacity 0.2s ease-in-out, visibility 0.2s;
	border-bottom: 0;
	font-size: 0.8em;
	margin-bottom: 0;
	opacity: 1;
	visibility: visible;
}

#header h1 a {
	border: 0;
}

#header nav {
	font-family: Raleway, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: 700;
	height: 3em;
	letter-spacing: 0.1em;
	line-height: 3em;
	position: absolute;
	right: 0.7em;
	text-transform: uppercase;
	top: 0.7em;
}

#header nav a {
	border: 0;
	display: inline-block;
	padding: 0 1em;
}

#header nav a:before {
	float: right;
	margin-left: 0.75em;
}

#header nav a[href="#menu"] {
	text-decoration: none;
	-moz-transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	border-radius: 5px;
	box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
	padding: 0 1.35em;
}

#header nav a[href="#menu"]:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none !important;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}

#header nav a[href="#menu"]:before {
	content: '\f0c9';
	line-height: inherit;
}

#header nav a[href="#menu"]:hover {
	background-color: rgba(255, 255, 255, 0.025);
}

#header nav a[href="#menu"]:active {
	background-color: rgba(255, 255, 255, 0.075);
}

#header.alt {
	background-color: transparent;
}

#header.alt h1 {
	opacity: 0;
	visibility: hidden;
}

.desktopMenu {
    display: block;
}

.mobileMenu {
    display: none;
	z-index: 999;
}

@media screen and (max-width: 1000px){

    #header {
		line-height: 2.75em;
	}

	#header nav {
		height: inherit;
	}

	#header nav a {
		height: inherit;
	}

	#header nav a[href="#menu"] {
		box-shadow: none;
		padding: 0 1em;
		border-radius: 0;
	}

	#header nav a[href="#menu"]:hover,
	#header nav a[href="#menu"]:active {
		background-color: inherit;
	}

    .desktopMenu {
        display: none;
    }

    .mobileMenu {
        display: block;
    }
}


/* LOGO */

.logoName {
	vertical-align: top;
	font-size: x-large;
	font-weight: 800;
	text-decoration: none;
}

.poppins-medium {
	font-family: "Poppins", sans-serif;
}

.logoContainer {
	display: flex;
	flex-wrap: wrap;
	padding-left: 10px;
	padding-top: 20px;
}

.logoHeader {
	height: 2.75em;
	vertical-align: middle;
}

.closebutton {
	width: 100px;
}

@media screen and (max-width: 480px) {
	.logoName {
		font-size: medium;
		font-weight: 500;
	}

}
