.aboutContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

@media screen and (max-width: 1000px) {
    .aboutContainer {
        flex-wrap: wrap;
    }
}

.logoImage {
    max-width: 256px;
    max-height: 256px;
}

